<li>
    <div class="movie-card">
        <p>Author: {{author}}</p>
        <p>Movie title: {{title}}</p>
        <img class="movie-poster" src={{imgURL}} alt="poster">
        <a href="/movies/details/{{_id}}">Details</a>
    </div>
</li>