.messenger-container{
    display: flex;
    gap: 12px;
}

.conversations{
    flex: 3;
}

.chat{
    flex: 6;
}

.all-users{
    flex: 3;
}

.conversations,
.chat,
.all-users{
    height: 93vh;
    border: 1px solid;
    border-radius: 12px;
    padding: 12px;
}