<form method="post">
    <input type="text" name="author" placeholder="Your name here...">
    <input type="text" name="title" placeholder="Movie Title here...">
    <input type="text" name="description" placeholder="Description here...">
    <input type="text" name="imgURL" placeholder="Poster URL here...">

    <input type="submit">
</form>