<h1>Create item</h1>
<form action="/create" method="post">
        <label><strong>Name: </strong><input type="text" name="name"></label>
        <label><strong>City: </strong><input type="text" name="city"></label>
        <label><strong>Description: </strong><input type="text" name="description"></label>
        <label><strong>Beds: </strong><input type="number" name="beds"></label>
        <label><strong>Price: </strong><input type="number" name="price"></label>
        <input type="submit" value="Create">
</form>