<h1>Details page</h1>
{{#with item}}
<p><strong>Name:</strong> {{name}}</p>
<p><strong>Description:</strong> {{description}}</p>
<p><strong>Price per month:</strong> {{price}} BGN</p>
<p><strong>Beds:</strong> {{beds}}</p>
{{/with}}