<form method="post">
    <input type="text" placeholder="Brand" name="brand">
    <input type="text" placeholder="Processor" name="cpu">
    <input type="text" placeholder="VideoCard" name="gpu">
    <input type="text" placeholder="SSD" name="ssd">
    <input type="text" placeholder="RAM" name="ram">
    <input type="number" placeholder="PRICE" name="price">
    <input type="text" placeholder="imgURL" name="imgURL">
    <input type="submit" value="Publish">
</form>