<h1>Login</h1>
<form method="post">
    <input type="text" name="email" placeholder="email here...">
    <input type="password" name="password" placeholder="password here...">
    <button>Login</button>
</form>