<h1>Register</h1>
<form method="post">
    <input type="text" name="email" placeholder="email here...">
    <input type="password" name="password" placeholder="password here...">
    <button>Register</button>
</form>